frontend:
  root:
    url: http://localhost:3000/ #TODO Replace with your frontend root URL / empty string

logging:
  level:
    org:
      hibernate:
        SQL: debug
server:
  error:
    include-stacktrace: never
  port: 9000 # server port
  jwtSecret: eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4c
  jwtExpirationMs: 3600000
  servlet:
    session:
      cookie:
        http-only: true
        max-age: 10800s #3hours
        name: WD_SESSION
    encoding:
      charset: UTF-8
      force: true

spring:
  datasource:
    password: 
    url: jdbc:mysql://localhost:3306/udemy-dev?connectionTimeZone=UTC&useSSL=false
    username: root
  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB
  jpa:
    hibernate:
      ddl-auto: update #You may chnage to `NONE` in production
    properties:
      hibernate:
        order_inserts: true
        order_updates: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          batch-size: 20
  session:
    store-type: redis
    redis:
      cleanup-cron: 0 0 * * * *
  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"

spring.mail:
  host: smtp.gmail.com
  port: 587
  username: testtotonoreply@gmail.com
  password: bepb ltkp fjzq lnpg
  properties.mail.smtp.starttls.enable: true